option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "streamlit_app.py"
  aws:elasticbeanstalk:application:environment:
    STREAMLIT_SERVER_HEADLESS: "true"
    STREAMLIT_SERVER_PORT: "8000"
    STREAMLIT_LOGGER_LEVEL: "warning"
  aws:ec2:instances:
    InstanceTypes: "t3.micro"
  aws:autoscaling:asg:
    MinSize: "1"
    MaxSize: "1"
